//color
$c-blueBell: #9797dd;
$c-seashell: #f1f1f1;
$c-mineShaft: #202020;
//fonts
$f-small: 15px;
$f-xsmall: 20px;
$f-middle: 30px;
$f-xmiddle: 50px;
$f-xxmiddle: 60px;
$f-big: 70px;
$f-xxxbig: 160px;

//margin,padding
$space-null: 0px;
$space-xxxsmall: 5px;
$space-xxsmall: 10px;
$space-xsmall: 20px;
$space-xxsmall: 1%;
$space-small: 5%;
$space-medium: 70px;
//sizes
$size-small: 25px;
$size-xmedium: 40px;
$size-medium: 10%;
$size-xxbig: 300px;
$size-xbig: 680px;
$size-big: 760px;

// break
$break-xxxs: 320px;
$break-xxs: 375px;
$break-xs: 425px;
$break-mobile: 768px;
$break-mid: 1024px;
$break-laptop: 1440px;
$break-high: 2560px;
