.containerForm {
  button {
    background-color: transparent;
    width: 15%;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 2%;
    font-size: $f-middle;
    color: rgb(12, 12, 78);
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    input {
      display: block;
      margin: 1%;
      min-width: 30%;
      height: 50px;
      border-radius: 15px;
      text-align: center;
    }
    &__submit {
      background-color: blue;
    }
  }
}
