.controlAndTechnolgies {
  min-width: 100vw;

  &__text {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      font-size: 300%;
      width: 65vw;
    }

    h2 {
      font-size: 500%;
    }
  }

  &__technolgies {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    position: relative;
  }
}
@media only screen and (max-width: 1025px) {
  .controlAndTechnolgies {
    &__text {
      p {
        font-size: 200%;
        width: 65vw;
      }

      h2 {
        font-size: 400%;
      }
    }
  }
}
@media only screen and (max-width: 769px) {
  .controlAndTechnolgies {
    &__text {
      p {
        font-size: 200%;
        width: 65vw;
      }

      h2 {
        font-size: 300%;
      }
    }
  }
}
@media only screen and (max-width: 426px) {
  .controlAndTechnolgies {
    min-width: 123vw;
    &__text {
      min-width: 123vw;
    }
    &__technolgies {
      font-size: 90%;
      .technologiesBricks {
        img {
          max-width: 20%;
        }
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .controlAndTechnolgies {
    min-width: 140vw;
    &__text {
      min-width: 140vw;
    }
  }
}
@media only screen and (max-width: 321px) {
  .controlAndTechnolgies {
    min-width: 165vw;
    &__text {
      min-width: 165vw;
    }
  }
}
