.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  input {
    display: block;
    margin: 1%;
    min-width: 30%;
    min-height: 25%;
  }
}
