.ideasPart {
  display: flex-wrap;
  justify-content: center;
  padding: 3%;
  min-width: 100vw;

  &__upperText {
    margin: 0 auto;
    font-size: $f-middle;
    width: 63%;
    text-align: center;
  }

  &__text {
    margin: 0px auto;
    font-size: $f-xxmiddle;
    text-align: center;
    padding-bottom: $space-null;
    background: linear-gradient(
      to top,
      #4b4b6e 15%,
      #ffffff 50%,
      #ffffff 75%,
      #ffffff 75%
    );
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    transition: text-shadow 0.5s;
  }

  &__text:hover {
    cursor: pointer;
    color: #ffffff;
    @include shadow;
  }

  &__downBoxes {
    width: 70%;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;

    div {
      position: relative;
      font-size: $f-xsmall;
      width: 15%;
      padding: $space-xxsmall;
      cursor: pointer;
      border-bottom: 2px solid #4b4b6e;
      color: #4b4b6e;
      transition: color 0.3s ease;
      a {
        text-decoration: none;
        color: #4b4b6e;
        transition: color 0.3s ease;
      }
      a:hover {
        color: #ffffff;
      }
    }
    div:hover {
      color: #ffffff;
    }
    div::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #ffffff;
      left: 0;
      bottom: 0;
      transform: scale(0, 1);
      transform-origin: 0% 100%;
      transition: transform 0.3s ease;
    }
    div:hover::after {
      transform: scale(1, 1);
      @include boxshadow;
    }
  }
}
