.ideasPart {
    display: flex-wrap;
    justify-content: center;
    padding: 3%;
    min-width: 100vw;

    &__upperText {
        margin: 0 auto;
        font-size: $f-middle;
        width: 63%;
        text-align: center;

    }

    &__text {
        margin: 0px auto;
        font-size: $f-xxmiddle;
        text-align: center;
        padding-bottom: $space-null;
        background: linear-gradient(to top, #4B4B6E 15%, #FFFFFF 50%, #FFFFFF 75%, #FFFFFF 75%);
        background-clip: text;
        color: transparent;
        font-weight: 1000;
        transition: text-shadow 0.5s;
    }

    &__text:hover {
        cursor: pointer;
        color: #FFFFFF;
        text-shadow:
            0 0 7px #FFFFFF,
            0 0 10px #FFFFFF,
            0 0 21px #FFFFFF,
            0 0 42px #4B4B6E,
            0 0 82px #4B4B6E,
            0 0 92px #4B4B6E,
            0 0 102px #4B4B6E,
            0 0 151px #4B4B6E;
    }

    &__downBoxes {
        width: 70%;
        margin: 5% auto;
        display: flex;
        justify-content: space-around;

        div {
            
            position: relative;
            font-size: $f-xsmall;
            width: 15%;
            padding: $space-xxsmall;
            cursor: pointer;
            border-bottom: 2px solid #4B4B6E;
            color: #4B4B6E;
            transition: color 0.3s ease;
        }
        div:hover{
            color: #FFFFFF;
        }
        div::after{
            content: '';
            position: absolute;
            width:100%;
            height: 3px;
            background: #FFFFFF;
            left: 0;
            bottom:0;
            transform: scale(0,1);
            transform-origin: 0% 100%;
            transition: transform 0.3s ease;
        }
        div:hover::after {
            transform: scale(1,1);
            box-shadow:
            0 0 7px #FFFFFF,
            0 0 10px #FFFFFF,
            0 0 21px #FFFFFF,
            0 0 42px #4B4B6E,
            0 0 82px #4B4B6E,
            0 0 92px #4B4B6E,
            0 0 102px #4B4B6E,
            0 0 151px #4B4B6E;
            

        }
    }
}