.technologiesBricks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  border: 2px solid blue;
  border-radius: 150px;
  align-items: center;
  margin: 2%;
  cursor: pointer;
  &--expand {
    height: 100%;
    width: 60%;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__cliker {
    max-width: 40%;
    max-height: 40%;
    &--rotate {
      transform: rotate(180deg);
    }
  }

  &__midleText {
    max-width: 50%;

    p:first-child {
      margin-bottom: 1%;
      color: rgb(251, 121, 251);
    }

    p:last-child {
      margin-top: 1%;
      margin-bottom: 25%;
    }

    h3 {
      margin: 0;
    }
  }
}
